body { background: #a3e1bc; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 48px; display: flex; }
.block-email-0 { color: #8b7b56; font-size: 20px; margin-bottom: 5px; }
.block-product-1 { color: #1ccd65; font-size: 16px; margin-bottom: 5px; }
.block-shipping-2 { color: #57d7cc; font-size: 16px; margin-bottom: 5px; }
.block-order-3 { color: #6bc5b7; font-size: 18px; margin-bottom: 5px; }
.block-order-4 { color: #981445; font-size: 12px; margin-bottom: 5px; }